

{% extends 'base.html' %}

{% block title %} me{% endblock %}

{% block content %}
<h1 class="m-5">Hello World</h1>
<div class="m-3">
    a · an example of a product that is not yet ready to be sold ; b · a recording intended to show off a song or performer to a record producer ; ca · an example of a product that is not yet ready to be sold ; b · a recording intended to show off a song or performer to a record producer ; ca · an example of a product that is not yet ready to be sold ; b · a recording intended to show off a song or performer to a record producer ; ca · an example of a product that is not yet ready to be sold ; b · a recording intended to show off a song or performer to a record producer ; c    
</div>
{% endblock %}

