
body{
    /* background:#043955; */
    background: linear-gradient(to right,#043955,#053352);
    color:whitesmoke;
}

h1{
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate();
    width: fit-content;
    color: red;
    letter-spacing: 10px;
    text-shadow: 2px 2px black;
    border-radius: 10px;
    border-left: 2px red dashed;
    padding-left: 20px;
}

#code{ 
    /* text-align: center; */
}

.field{
    width: 50%;
    margin: 10px;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, 100%);
    transform: translate();
    
}

.field label{
    text-transform: uppercase;
    text-align: left;
    font-family: hack;
    font-size: 18px;
}
input,select,textarea{
  
        font-size: 20px;
        background: transparent;
        color:whitesmoke;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select{
    color:red;
}
button{
    font-size: 20px;
    background: transparent;
    color:whitesmoke;
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}


input:focus{
    border: none;
    border-radius: 5px;
    background-color: aliceblue;
    color:blue;
    opacity: 0.7;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]{
    -moz-appearance: none;
    
}
input[type=checkbox],input[type=radio]
{
    display: inline;
    width: 10%;
}

