
body{
	background: black;
}

.coder{
	width: 200px;
	text-shadow: 2px 2px white;
	background: linear-gradient(to right,#ff9f90 10%,#efeffe);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}


h1{
	background: yellow;
	color: white;
}