
body{
	background-color: black;
}
h1{
	color: white;
	background-color: blue;
	text-shadow: 2px 2px pink;
	border-radius: 10px;
	text-align: center;
	font-size: 40px;
}
  .home{
	background-color: yellow;
	background :linear-gradient(to right,#009988 10%,#234566,15%);
	color:transparent;
	background-clip:text;
	-webkit-background-clip:text;					
}
H3,h4,h5{
	color: red;
	font-size: 30px;
}
h6{
	font-size: 35px;
	color: skyblue;
}