
body{
	/*background: linear-gradient(to right,rgba(200,100) 10%,blue);*/
	background: rgba(2,20,2,0.5) url("bg.jpg");
	background-size: cover;
	background-blend-mode:darken;	
	color: white;
	font-family: Kristen ITC;
}