
body{
	background: linear-gradient(to right,#303030,#000000);
}

h1{
	margin: 20%;
	transform: rotate(20deg);
	text-align: center;
	padding: 10px;
	border-radius: 10px;	
	background: red;
	animation-name: laxmi;
	width: 200px;
	animation-duration: 0.0004s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes laxmi{
	from{background: #303030;}
	to{background: red;}
}