
body{
	background: url("./assets/pizza_1.jpg") rgba(10,10,100,0.5);
	background-blend-mode: lighten;
	background-size: cover;
}

h1{
	background:red;
	padding: 10px;
}

.home{
	border-radius: 10px;
	width: 100px;
	height: 100px;
	background:black;
	box-shadow: 20px 20px red;
}

.home:hover{
	background:white;
}