.k{
    background-color: aqua;
    color: red;
    font-size: 25px;
    font-weight: bold;
}
.j{
    
    color: rgba(255, 0, 255, 0.1);    
    
}
.text__align{
    text-align: justify;
    text-transform: capitalize;
    text-indent: 50%;
    letter-spacing: 0px;
    word-spacing: 50px;
}
.text__dec{
    text-decoration-style: wavy;
    text-decoration-color: red;
}
/* .u{
    background-color: green;
    color: blueviolet;
}
.q{
    color: violet;
    background-color: peru;
}       
.w{
    color: blue;
    background-color:blueviolet;
}
.e{
    color: chartreuse;
    background-color: crimson;
}
.r{
    color: darksalmon;
    background-color: deepskyblue;
}
.t{
    color: darkmagenta;
    background-color: darkslateblue;
}
.y{
    color: darkcyan;
    background-color: darkgoldenrod;
}
.i{
    color: darkslategray;
    background-color: firebrick;
}
.o{
    color: dodgerblue;
    background-color: gold;
}
.a{
    color: indianred;
    background-color: lightgreen;
}  */
.text_dec{
    text-decoration:underline dotted  ;
    text-transform: capitalize;
    text-indent: 50px;
    letter-spacing: 5px;
    word-spacing:9px;
    /* white-space: nowrap; */
    color: blueviolet;
    font-size: 24px;
    font-weight: bold;
    text-align: justify;
    
}