body{
background: linear-gradient(to right ,#334466,#223300);
}
h1{
	color: white;
	text-shadow: red 1px 2px;
    font-size: 40px;
    text-align: center;
    background: #238811;
    transform: rotate(15deg);
    margin: 2%;
    width: 200px;
}
h2{
	color: white;
	font-size: 35px;
	animation-name: home;
	animation-direction: alternate;
	animation-duration: 0.0003s;
	animation-iteration-count: infinite;

}
@keyframes home{
 	from{background: blue;}
 	to{background: yellow;}
 }